{% extends "homebase.html" %}

{% block title %}İletişim-{{ setting.company }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'>
{% endblock %}

{% block body %}
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i>Anasayfa</a>
                        <span>İletişim</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form">
                        <div class="leave-comment">
                            <h4>İletişim Formu</h4>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <form action="" method="post" class="comment-form">
                                {% csrf_token %}
                                {{form.as_p}}
                                <input type="submit" value="SEND FORM">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>İletişim Bilgilerimiz</h3>
                    {{ setting.contact|safe }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}