{% extends "homebase.html" %}

{% block title %}{{ profile.user_name }} Şifre Değiştir{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'>
{% endblock %}

{% block body %}
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i>Anasayfa</a>
                        <span>Kullanıcı Şifre Güncelle</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="contact-form">
                        <div class="leave-comment">
                            {% include "user_panel.html" %}
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <h4><b>Kullanıcı Bilgileri</b></h4>
                    <hr>
                    <div class="breacrumb-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{message.tags}}" role="alert" style="color: red">
                                                {{ message|safe }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="contact-form">
                            <div class="leave-comment">
                                <form method="post" class="comment-form">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <p>
                                            {{ field.label_tag }}<br>

                                            {{ field }}

                                            {% if field.help_text %}
                                                <small style="color: grey">{{ field.help_text }}</small>
                                            {% endif %}
                                            {% for error in field.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </p>
                                    {% endfor %}
                                    <button class="primary-btn" type="submit">GÜNCELLE</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}