{% extends "homebase.html" %}

{% block title %}{{ profile.user_name }} Profil Güncelle{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'>
{% endblock %}

{% block body %}
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i>Anasayfa</a>
                        <span>Kullanıcı Profili Güncelle</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="contact-form">
                        <div class="leave-comment">
                            {% include "user_panel.html" %}
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="contact-form">
                        <div class="leave-comment">
                            <h4><b>Kullanıcı Bilgileri</b></h4>
                            <hr>
                            <div>
                                <img src="{{ user.userprofile.image.url }}" style="height: 200px">
                            </div>
                            <br>
                            <br>
                            <form method="post" enctype="multipart/form-data" class="comment-form">
                                {% csrf_token %}
                                <fieldset>
                                    {{ user_form.as_p }}
                                    {{ profile_form.as_p }}
                                </fieldset>
                                <div>
                                    <button class="primary-btn" type="submit">GÜNCELLE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}